@charset "utf-8";
/* CSS Document */

#edit_product .sluiten {
	position:absolute;
	display:block;
	float:right;
	padding:0;
	top:10px;right:10px;
	height:50px; width:50px;
	text-align:center; line-height:34px;
	color:#000000;
	box-sizing:border-box;
	}
#popup_checkbox{
	display:none;
	}
#edit_product {
	transform: scale(0.5,0.1);
	position:fixed;
	top:0; left:0; right:0;
	margin-left:auto; margin-right:auto;
	opacity:0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
	max-height:100%;
	overflow:auto;
	}
#edit_product form{
	margin-top:50px;
	position:relative;
	}
#popup_checkbox:checked ~ #edit_product{
	transform: translateX(0);
	opacity:1; 
	visibility:visible;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
	}
	
msg{
	position:fixed;
	z-index:20px;
	background-color:rgba(0,0,0,0.7);
	color:#FFFFFF;
	padding:5px; padding-left:10px; padding-right:10px;
	bottom:0px; left:10px;
	border-radius:5px;
	animation: fade;
	animation-duration:10s;
	opacity:0; visibility:hidden;
	}
@keyframes fade {
	0% 	 {visibility: visible;}
    2%   {opacity:0;}
    10%  {opacity:1; transform: translateY(-10px)}
    99%  {opacity:0;}
    100% {transform: translateY(-10px)}
}

#info{
	font-size:12px;
	height:50px;
	}
#confirm_delete{
	max-height:0;
	overflow:hidden;
	transition: max-height 0.5s ease-in-out;
	}